* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
html img, html picture, html video, html canvas, html svg, body img, body picture, body video, body canvas, body svg {
  display: block;
  max-width: 100%;
}
html ul, body ul {
  list-style: none;
}
html .tinos-regular, body .tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
html .tinos-bold, body .tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}
html .tinos-regular-italic, body .tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}
html .tinos-bold-italic, body .tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  width: auto;
  height: 100%;
}

.sidebar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  min-width: 17.5rem;
}
.sidebar .name {
  font-size: 2rem;
  padding: 1rem 0 4rem 0;
  font-family: "Tinos", "Times New Roman", Times, serif;
  font-weight: 100;
  letter-spacing: 0.15rem;
}
.sidebar .name a {
  text-decoration: none;
  font-family: "Tinos", "Times New Roman", Times, serif;
  color: rgb(41, 41, 41);
  transition: color 0.3s ease;
}
.sidebar .footer {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: auto;
  padding: 0 1rem;
  font-family: "Tinos", "Times New Roman", Times, serif;
}

.pages {
  padding: 0 0 0 1rem;
}
.pages ul {
  list-style: none;
}
.pages li {
  margin-bottom: 1.3rem;
}
.pages a {
  text-decoration: none;
  font-family: "Tinos", "Times New Roman", Times, serif;
  font-size: 1rem;
  color: rgb(41, 41, 41);
  font-weight: 100;
  letter-spacing: 0.15rem;
  transition: color 0.3s ease;
}
.pages a:hover {
  color: rgb(139, 139, 139);
}
.pages .resalte {
  color: rgb(139, 139, 139);
}

.grid-conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-height: 99vh;
  font-family: "Tinos", "Times New Roman", Times, serif;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-weight: 100;
  font-size: 0.9rem;
  text-align: justify;
  padding: 1rem;
}
.grid-conteiner .item-grid-1 {
  grid-column: 1/5;
  grid-row: 1/6;
  padding: 0 0 0 2rem;
  align-self: center;
}
.grid-conteiner .item-grid-2 {
  grid-column: 5/10;
  grid-row: 1;
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 2rem;
}
.grid-conteiner .item-grid-3 {
  grid-column: 5/10;
  grid-row: 2/5;
  padding: 1rem 0 0 2rem;
}

@media screen and (max-width: 790px) {
  html, body {
    display: block;
    height: 100%;
  }
  .sidebar {
    padding: 2rem 1rem 2rem 1rem;
    min-width: 12rem;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
  }
  .sidebar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    box-shadow: none;
    min-width: auto;
  }
  .sidebar .name {
    font-size: 1.4rem;
    font-family: "Tinos", "Times New Roman", Times, serif;
    font-weight: 100;
    letter-spacing: 0.15rem;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .pages {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 90vw;
    padding: 0;
    margin: 0.3rem;
  }
  .pages ul {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .pages li {
    margin-bottom: 0;
    padding-right: 1rem;
  }
  .pages a {
    text-decoration: none;
    font-family: "Tinos", "Times New Roman", Times, serif;
    font-size: 1rem;
    color: rgb(41, 41, 41);
    font-weight: 100;
    letter-spacing: 0.15rem;
    transition: color 0.3s ease;
    font-size: 8rem;
  }
  .pages a:hover {
    color: rgb(139, 139, 139);
  }
  .footer {
    display: none;
  }
  main .grid-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem 1rem 1rem 1rem;
    max-height: 100vh;
  }
  main .grid-conteiner .item-grid-1 {
    grid-column: 1;
    grid-row: 3;
    padding: 2rem;
  }
  main .grid-conteiner .item-grid-2 {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    align-items: center;
    justify-content: center;
  }
  main .grid-conteiner .item-grid-3 {
    grid-column: 1;
    grid-row: 2;
    padding: 0.5rem 1.4rem;
  }
}/*# sourceMappingURL=aboutMe.css.map */