* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
html img, html picture, html video, html canvas, html svg, body img, body picture, body video, body canvas, body svg {
  display: block;
  max-width: 100%;
}
html ul, body ul {
  list-style: none;
}
html .tinos-regular, body .tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}
html .tinos-bold, body .tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}
html .tinos-regular-italic, body .tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}
html .tinos-bold-italic, body .tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

.header {
  display: flex;
  width: auto;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  min-width: 17.5rem;
}
.sidebar .name {
  font-size: 2rem;
  padding: 1rem 0 4rem 0;
  font-family: "Tinos", "Times New Roman", Times, serif;
  font-weight: 100;
  letter-spacing: 0.15rem;
}
.sidebar .footer {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: auto;
  padding: 0 1rem;
  font-family: "Tinos", "Times New Roman", Times, serif;
}

.pages {
  padding: 0 0 0 1rem;
}
.pages ul {
  list-style: none;
}
.pages li {
  margin-bottom: 1.3rem;
}
.pages a {
  text-decoration: none;
  font-family: "Tinos", "Times New Roman", Times, serif;
  font-size: 1rem;
  color: rgb(41, 41, 41);
  font-weight: 100;
  letter-spacing: 0.15rem;
  transition: color 0.3s ease;
}
.pages a:hover {
  color: rgb(139, 139, 139);
}
.pages .resalte {
  color: rgb(139, 139, 139);
}

.grid-conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-height: 99vh;
  overflow-y: auto;
  font-family: "Tinos", "Times New Roman", Times, serif;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-weight: 100;
  font-size: 0.9rem;
  text-align: justify;
  padding: 1rem;
}
.grid-conteiner .item-grid-1 {
  grid-column: 1/5;
  grid-row: 2/5;
  padding: 0 0 0 2rem;
}
.grid-conteiner .item-grid-2 {
  grid-column: 5/7;
  grid-row: 1;
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 2rem;
}
.grid-conteiner .item-grid-3 {
  grid-column: 5/10;
  grid-row: 2/5;
  padding: 1rem 0 0 2rem;
}

@media screen and (max-width: 770px) {
  .sidebar {
    padding: 2rem 0 2rem 1rem;
    min-width: 12rem;
  }
  .grid-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .item-grid-1 {
    grid-column: 1;
    grid-row: 1;
    padding: 0 0 0 2rem;
  }
  .item-grid-2 {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 2rem;
  }
  .item-grid-3 {
    grid-column: 1;
    grid-row: 3;
    padding: 1rem 0 0 2rem;
  }
}/*# sourceMappingURL=aboutMe.css.map */