//mixins y variables
@import "../sass/mixins";
@import "../sass/variables";

// scss
* {
  @include reset;
}
html, body {
    @include flex-center;
    height: 100%;

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%; 
    }

    ul{
        list-style: none;
    }
}

::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  width: auto;
  height: 100%;

  footer{
    @include flex-center;
    margin-top: auto;
  
    img{
      width: 2rem;
    }
    ul{
      @include flex-center;
      gap: 10px;
    }
    li{
      width: 50%;
    }
  }
}
.sidebar {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-width: 17.5rem;

  .name {
    @include font-style(2rem, 400, normal);
    padding: 1rem 0 4rem 1rem;
    letter-spacing: .15rem ;
    
    a{
      @include transition-link;
      font-family: $font-family;
      color: $color-text;
    }
  }
}
.pages{
  padding: 0 0 0 2rem;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 1.3rem;
    }

    a {
      @include font-style(1.3rem, 400, normal);
      @include transition-link;
      letter-spacing: .15rem ;
    }

    a:hover {
      color: $hover-color;
    }
    .resalte{
      color: $hover-color;
    }
}




















@media screen and (max-width: 790px){

    html, body {
      display: block;
      height: 100%;
      max-height: 100vh
    }
    .sidebar{
      padding: 2rem 1rem 2rem 1rem;
      min-width: 12rem;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      background-color: #ffffff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      
      footer {
        display: none; 
      
      }
    }
  
    .sidebar {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
      box-shadow: none;
      min-width: auto;
  
      .name {
        font-size: 1.4rem;
        font-family: "Tinos", 'Times New Roman', Times, serif;
        font-weight: 100;
        letter-spacing: .15rem;
        padding: 1rem 1rem 1.5rem 1rem;
      }
    }
    
    .pages {
      overflow-x: auto; 
      white-space: nowrap; 
      max-width: 90vw; 
      padding: 0 .5rem 0 .5rem;
      margin: .3rem;
    }
  
    .pages ul {
      display: flex;
      padding: 0;
      margin: 0;
    }
    
    .pages li {
      margin-bottom: 0; 
      padding-right: 1rem;
    }
    
    .pages a {
      text-decoration: none;
      font-family: "Tinos", 'Times New Roman', Times, serif;
      font-size: 1rem;
      color: rgb(41, 41, 41);
      font-weight: 100;
      letter-spacing: .15rem;
      transition: color 0.3s ease;
      font-size: .8rem;
    }
    
    .pages a:hover {
      color: rgb(139, 139, 139);
    }
    
}  