//mixins y variables
@import "../sass/mixins";
@import "../sass/variables";

// scss
* {
  @include reset;
}
html, body {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: start;

    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%; 
    }

    ul{
        list-style: none;
    }
}

::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  width: auto;
  height: 100%;

  footer{
    @include flex-center;
    margin-top: auto;
  
    img{
      width: 2rem;
    }
    ul{
      @include flex-center;
      gap: 10px;
    }
    li{
      width: 50%;
    }
  }
}
.sidebar {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-width: 17.5rem;

  .name {
    @include font-style(2rem, 400, normal);
    padding: 1rem 0 4rem 1rem;
    letter-spacing: .15rem ;
    
    a{
      @include transition-link;
      font-family: $font-family;
      color: $color-text;
    }
  }
}
.pages{
  padding: 0 0 0 2rem;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 1.3rem;
    }

    a {
      @include font-style(1.3rem, 400, normal);
      @include transition-link;
      letter-spacing: .15rem ;
    }

    a:hover {
      color: $hover-color;
    }
    .resalte{
      color: $hover-color;
    }
}
main{
  width: 100%;
}

.main-container {
  @include grid(5, 10);
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 3rem;
}
  
.div1 {
  grid-column: span 4 / span 4;

}

.div2 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
}
.portfolio-item {
  position: relative;
  display: block;
  overflow: hidden;

  img {
      width: 100%;
      height: auto;
      transition: 0.5s ease-in-out;
  }

  h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.8rem;
      font-weight: bold;
      opacity: 0;
      transition: 0.5s ease-in-out;
  }

  &:hover img {
      filter: blur(5px) brightness(0.5);
  }

  &:hover h2 {
      opacity: 1;
  }
}

.div3 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 5;
}

.div4 {
  grid-column: span 4 / span 4;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 8;
}

.div5 {
  grid-row: span 4 / span 4;
  grid-column-start: 5;
  grid-row-start: 1;
}

.div6 {
  grid-row: span 6 / span 6;
  grid-column-start: 5;
  grid-row-start: 5;
}
      


















@media screen and (max-width: 790px){

    html, body {
      display: block;
      height: 100%;
      max-height: 100vh
    }
    .sidebar{
      padding: 2rem 1rem 2rem 1rem;
      min-width: 12rem;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      background-color: #ffffff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      
      footer {
        display: none; 
      
      }
      .salto{
        display: none;
      }
    }
  
    .sidebar {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
      box-shadow: none;
      min-width: auto;
  
      .name {
        font-size: 1.4rem;
        font-family: "Tinos", 'Times New Roman', Times, serif;
        font-weight: 100;
        letter-spacing: .15rem;
        padding: 1rem 1rem 1.5rem 1rem;
      }
    }
    
    .pages {
      overflow-x: auto; 
      white-space: nowrap; 
      max-width: 90vw; 
      padding: 0 .5rem 0 .5rem;
      margin: .3rem;
    }
  
    .pages ul {
      display: flex;
      padding: 0;
      margin: 0;
    }
    
    .pages li {
      margin-bottom: 0; 
      padding-right: 1rem;
    }
    
    .pages a {
      text-decoration: none;
      font-family: "Tinos", 'Times New Roman', Times, serif;
      font-size: 1rem;
      color: rgb(41, 41, 41);
      font-weight: 100;
      letter-spacing: .15rem;
      transition: color 0.3s ease;
      font-size: .8rem;
    }
    
    .pages a:hover {
      color: rgb(139, 139, 139);
    }
    

    .portfolio-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
          filter: brightness(0.7); // Oscurecemos un poco la imagen para que el texto resalte
      }

      h2 {
          position: absolute;
          color: white;
          font-size: 1.5rem;
          font-weight: bold;
          opacity: 1; 
          padding: 10px;
          border-radius: 8px;
      }
  }
}  